p {
    font-size: 20px;
    color: rgb(35, 173, 35);
    background-color: rgb(39, 39, 133);
    border: 3px solid red;
    text-align: center;
}

h2 {
    font-size: 25px;
    color: rgb(111, 55, 163);
    background-color: rgb(111, 203, 158);
    border: 5px solid blue;
    text-align: center;
}

button {
    font-size: 15px;
    color: yellow;
    background-color: orange;
    border: 2px solid rgb(255, 195, 217);
}