div li {
    color: red;
    font-size: 35px;
    border: 2px solid green;
    background-color: blue;
}

nav li {
    color: brown;
    font-size: 50px;
    border: 3px solid purple;
    background-color: yellow;
}